<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC

		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"

		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory name="iw-Editor">
<!--    
        <property name="hibernate.connection.driver_class">org.gjt.mm.mysql.Driver</property>
        <property name="hibernate.connection.password">sapucaia</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sensus</property>
        <property name="hibernate.connection.username">root</property>
-->        
		<!-- conexao via JNDI -->
        <property name="hibernate.connection.datasource">java:/intellector/totvs</property>
        <property name="hibernate.dialect">br.com.ziben.dialectfix.Oracle10gDialectFix</property>
        
        <property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">false</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.default_schema">totvs_d</property>

        <property name="hibernate.enable_lazy_load_no_trans">true</property>
		
		<!-- mapeamento das classes -->
        <mapping class="br.com.totvs.policy.IwPolitica" />
        
    </session-factory>

</hibernate-configuration>
